<template>
  <header class="Header">

    <nuxt-link
      v-for="(link, idx) in nav"
      :key="idx"
      class="Header__item nav-links-enter"
      :to="link.href"
      v-html="link.text"
      exact
    />

    <div
      class="Header__user-btn"
      v-show="statusSign === false"
      @click="ShowModal = true, modalType = 'signIn'">
      Войти
    </div>

    <div
      class="Header__user-block"
      v-show="statusSign"
      @click="ShowModal = true, modalType = 'LK'">
      {{username}}
    </div>

    <div
      class="layout"
      v-show="ShowModal === true"
      @click="ShowModal = false, modalType = null"
      @keyup.esc="ShowModal = false, modalType = null">

      <transition-group
        name="modal-fading"
        enter-active-class="layout-enter"
        leave-active-class="layout-leave">

        <div
          class="modal"
          :key="1"
          v-if="modalType === 'signIn'"
          @click.stop
        >

          <h2 class="modal__title">Авторизация</h2>

          <form
            class="FormAuth"
            @submit.prevent="signin">

            <label class="FormAuth__label">

              <input
                class="FormAuth__input"
                v-model="username"
                type="text"
                autofocus
                autocomplete="off"
                placeholder="Login"/>

            </label>

            <label class="FormAuth__label">

              <input
                class="FormAuth__input"
                v-model="password"
                type="password"
                autocomplete="off"
                placeholder="Password"/>

            </label>

            <input class="FormAuth__button" type="submit" value="Войти"/>

            <div
              class="error-text"
            >
              {{statusText}}
            </div>

          </form>

          <div
            class="modal__closer"
            @click="ShowModal = false, modalType = null"/>

        </div>

        <div
          class="modal"
          v-show="statusSign"
          :key="2"
          @click.stop
          v-if="modalType === 'LK'">

          name: {{username}}
          <br>
          <br>
          password: {{password}}
          <br>
          <br>
          <button @click="signOut">Выйти</button>

        </div>

      </transition-group>

    </div>

  </header>
</template>

<script>
  export default {
    name: "Header",
    data() {
      return {
        statusSign: false,
        ShowModal: false,
        modalType: {},
        username: '',
        password: '',
        statusText: '',
        nav: [
          {
            href: '/',
            text: 'Главная'
          },
          {
            href: '/pocks',
            text: 'Подключение API'
          },
          {
            href: '/tabs',
            text: 'Табы'
          },
          {
            href: '/swiper',
            text: 'Слайдер'
          },
          {
            href: '/knopki',
            text: 'Кнопки'
          },
        ],
      }
    },
    methods: {
      signin() {
        if (Boolean(this.username) && Boolean(this.password)) {
          this.statusText = 'Успешно';
          this.ShowModal = false;
          this.modalType = null;
          this.statusSign = true;
        }
        else {
          this.statusText = 'Неверный логин или пароль';
          console.log(this.username, '+', this.password)
        }
      },
      signOut() {
        this.ShowModal = false;
        this.modalType = null;
        this.statusSign = false;
        this.statusText = null;
        this.username = null;
        this.password = null;
      },
    },
    mounted() {
      window.addEventListener('keyup', this.keyup)
    },
    destroyed() {
      window.removeEventListener('keyup', this.keyup)
    },
  }
</script>

<style lang="scss" src="./Header.scss" scoped/>
