.Header {
  max-width: 1200px;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
  margin-bottom: 36px;

  &__item {
    font-size: 18px;
    line-height: 26px;
    color: #999;
    font-weight: 300;
    margin: 0 12px;
    text-decoration: none;

    &:hover {
      color: lightcoral;
    }
  }

  &__user-btn {
    padding: 6px 12px;
    background-color: $green;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      opacity: .7;
    }
  }
  
  &__user-block {
    margin: 0 8px;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      background-color: rgba(lightcoral, 0.5);
      color: #fff;
    }
  }
}
