.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
//
.slidezoom-enter {
  animation: slidezoom 1s both;
}
.slidezoom-leave {
  animation: slidezoom reverse 1s both;
}
//
.layout-enter {
  animation: fade-in 0.5s both;
}
.layout-leave {
  animation: fade-in 0.25s both reverse;
}
//
.slide-in {
  animation: slide-in 1s ease;
}
.slide-out {
  animation: slide-out 1s ease;
}
//
.nav-links-enter {
  animation: slideup 0.5s both;
}
.nav-links-leave {
  animation: slideup 0.5s both reverse;
}
//

@keyframes slideup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: translate(0, -50%);
    opacity: 0;
  }

  50% {
    transform: translate(0, 50%);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes shake-in {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes slidezoom {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1500px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.5);
  }

  70% {
    opacity: 0.7;
    transform: scale3d(.7, .7, .7) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
