$white: #fff;
$black: #000;
$gray: #999;
$green: #53D769;
$green-dark: #3b8070;
$gray-btn: #35495e;

$grid-breakpoints: (
  md: 768px,
  xl: 1240px
);

$container-max-widths: (
  md: 720px,
  xl: 1170px
);
