@import "vars";
@import "mixins";
@import "animations";

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  z-index: 99;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s ease;
  user-select: none;
  text-transform: uppercase;
  outline: none;

  &--green {
    border-color: $green-dark;
    color: $green-dark;

    &:hover {
      color: $white;
      background-color: $green-dark;
    }
  }

  &--grey {
    border-color: $gray-btn;
    color: $gray-btn;

    &:hover {
      color: $white;
      background-color: $gray-btn;
    }
  }

  &--red {
    border-color: lightcoral;
    color: lightcoral;

    &:hover {
      color: $white;
      background-color: lightcoral;
    }
  }

  &--sign {
    z-index: 101;
    background-color: #fff;
  }

  .button-wrapper & {
    flex-grow: 1;
    margin: 6px;
  }

  .SignHeader & {
    position: absolute;
    top: -40px;
    left: 100%;

    &:hover {

      &:before {
        background-color: $green-dark;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -2px;
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $white;
      border-left: 1px solid $green-dark;
      border-bottom: 1px solid $green-dark;
      transition: 0.25s ease;
    }
  }
}

.layout {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(#000, 0.5);
}

.modal {
  background-color: $white;
  box-shadow: 0 0 25px 5px rgba($black, 0.25);
  border-radius: 4px;
  padding: 12px;
  width: 250px;
  position: relative;
  //position: absolute;
  //align-self: center;
  //justify-self: center;
  //left: calc(50% - 125px);
  //bottom: 100px;
  z-index: 101;

  &__title {
    color: $gray-btn;
    margin: 6px;
    text-align: center;
  }

  &__closer {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      right: 5px;
      display: block;
      width: 15px;
      height: 3px;
      background-color: $black;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 5px;
      display: block;
      width: 15px;
      height: 3px;
      background-color: $black;
      transform: rotate(-45deg);
    }
  }
}

.FormAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__label {
    margin: 6px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 6px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $gray;
    outline: none;
  }

  &__button {
    outline: none;
    margin: 6px;
    padding: 6px;
    border: 1px solid $gray;
    color: $gray;
    font-size: 16px;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;

    &:hover {
      background-color: $gray;
      color: $white;
    }
  }

  &__sign {
    text-decoration: underline;
    margin: 6px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.SignHeader {
  position: relative;
  border-radius: 250px;
  overflow: hidden;
}


.pocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 16px;
  padding: 16px;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(#000, 0.25);

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px;
    padding: 12px;
  }
}

.Tabs {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    margin: 0;
    z-index: 3;
    width: 100%;

    &-item {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      padding: 6px;
      margin: 6px;
      font-size: 16px;
      background-color: #aaa;
      cursor: pointer;
      transition: 0.5s ease;
      
      &:hover {
        background-color: #000;
      }

      &--active {
        background-color: #000;
        width: 20px;
        border-radius: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    min-height: 50vh;
    max-height: 50vh;
    min-width: 100%;
  }

  &__item {
    position: absolute;
    min-height: 50vh;
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    background-color: #eee;
    font-size: 16px;
    z-index: 2;
  }
}

.nuxt-link-active {
  color: lightcoral !important;
}

.page-enter-active {
  animation: slidezoom 1s both;
}

.page-leave-active {
  animation: slidezoom 1s both reverse;
}
