<template>

  <div
    :class="['toggler', {'toggler--active': toggle}]"
    @click="toggle = !toggle">

        <span
          class="toggler__item"
          v-for="(item, idx) in items"
          :key="idx">
          {{item.title}}
        </span>

  </div>

</template>

<script>
  export default {
    name: "toggler",
    data() {
      return {
        toggle: false,
        items: [
          {
            title: 'off',
          },
          {
            title: 'on',
          }
        ],
      }
    }
  }
</script>

<style lang="scss" src="./toggler.scss" scoped/>
