.toggler {
  display: inline-flex;
  position: relative;
  border-radius: 250px;
  background-color: $gray;
  user-select: none;
  transition: 0.25s ease;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    margin: 3px;
    border-radius: 250px;
    background-color: $white;
    z-index: 1;
    transition: 0.5s ease;
  }

  &--active {
    background-color: coral;

    &:before {
      left: 50%;
      right: 0;
    }
  }

  &__item {
    padding: 20px;
    font-size: 20px;
    border-radius: 250px;
    color: $gray;
    opacity: 0;
    cursor: pointer;
    transition: 0.25s linear;
    width: 50%;
    z-index: 2;

    .toggler--active & {
      color: $white;
    }

    &:last-child {
      color: $white;

      .toggler--active & {
        color: coral;
      }
    }
  }
}
