<template>
  <div class="preloader">

    <div class="preloader__item"/>
    <div class="preloader__item"/>
    <div class="preloader__item"/>

  </div>
</template>

<script>
  export default {
    name: "preloader",
  }
</script>

<style lang="scss" src="./preloader.scss" scoped/>
