.preloader {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 4px;
    background-color: cornflowerblue;
    animation: 1.5s ease-in-out bounce-in infinite;

    &:nth-of-type(1) {
      animation-delay: 0s;
    }

    &:nth-of-type(2) {
      animation-delay: 0.5s;
    }

    &:nth-of-type(3) {
      animation-delay: 1s;
    }
  }
}
