<template>
  <div>
    <Header/>

    <!--<transition-->
    <!--name="preloader"-->
    <!--enter-active-class="nav-links-enter"-->
    <!--leave-active-class="nav-links-leave">-->

      <nuxt/>

    <!--</transition>-->

    <!--<transition-->
      <!--mode="out-in"-->
      <!--name="preloader"-->
      <!--enter-active-class="layout-enter"-->
      <!--leave-active-class="layout-leave">-->

      <!--<preloader v-show="loading"/>-->

    <!--</transition>-->

  </div>
</template>

<script>
  import preloader from '~/components/preloader'
  import Header from "~/components/Header";

  export default {
    components: {
      Header,
      preloader
    },
    data() {
      return {
        loading: true,
      };
    },
    mounted() {
      setTimeout(() => {
        this.loading = false;
      }, 500);
    },
    watch: {
      $route() {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
        }, 500);
      },
    },
  }

</script>

