<template>
  <div class="container container--index">

    <transition
      name="layout-fading"
      enter-active-class="layout-enter"
      leave-active-class="layout-leave">

      <div
        class="layout"
        v-show="ShowModal === true"
        @click="ShowModal = false, modalType = null"
      >

        <transition-group
          name="modal-fading"
          enter-active-class="slidezoom-enter"
          leave-active-class="slidezoom-leave">

          <div
            class="modal"
            :key="1"
            v-if="modalType === 'signIn'"
            @click.stop
          >

            <h2 class="modal__title">Авторизация</h2>

            <form
              class="FormAuth"
              @submit.prevent="login">

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="username"
                  type="text"
                  autofocus
                  autocomplete="off"
                  placeholder="Login"/>

              </label>

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="password"
                  type="password"
                  autocomplete="off"
                  placeholder="Password"/>

              </label>

              <input
                class="FormAuth__button"
                type="submit"
                value="Sign in"/>

            </form>

            <div
              class="modal__closer"
              @click="ShowModal = false, modalType = null"/>

          </div>

          <div
            class="modal"
            :key="2"
            v-if="modalType === 'signUp'"
            @click.stop
          >

            <h2 class="modal__title">Регистрация</h2>

            <form
              class="FormAuth"
              @submit.prevent="login">

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="username"
                  type="text"
                  autofocus
                  autocomplete="off"
                  placeholder="Login"/>

              </label>

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="email"
                  type="text"
                  autofocus
                  autocomplete="off"
                  placeholder="email"/>

              </label>

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="password"
                  type="password"
                  autocomplete="off"
                  placeholder="Password"/>

              </label>

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="password"
                  type="password"
                  autocomplete="off"
                  placeholder="Repeat"/>

              </label>

              <input
                class="FormAuth__button"
                type="submit"
                value="Sign up"/>

            </form>

            <div
              class="modal__closer"
              @click="ShowModal = false, modalType = null"/>

          </div>

          <div
            class="modal"
            :key="3"
            v-if="modalType === 'signRestore'"
            @click.stop
          >

            <h2 class="modal__title">Восстановление пароля</h2>

            <form
              class="FormAuth"
              @submit.prevent="login">

              <label class="FormAuth__label">

                <input
                  class="FormAuth__input"
                  required
                  v-model="username"
                  type="text"
                  autofocus
                  autocomplete="off"
                  placeholder="email"/>

              </label>

              <input
                class="FormAuth__button"
                type="submit"
                value="Restore"/>

            </form>

            <div
              class="modal__closer"
              @click="ShowModal = false, modalType = null"/>

          </div>


        </transition-group>

      </div>

    </transition>

    <div class="SignHeader">

      <div @click="isToggled = !isToggled, modalShow = false">
        <toggler/>
      </div>

    </div>

    <transition
      name="button-fading"
      enter-active-class="bounce-enter-active"
      leave-active-class="bounce-leave-active">

      <div
        class="button-wrapper"
        v-show="isToggled">

        <button
          class="button button--green button--sign"
          @click="ShowModal = true, modalType = 'signIn'">
          signin
        </button>

        <button
          class="button button--grey button--sign"
          @click="ShowModal = true, modalType = 'signUp'">
          signup
        </button>

        <button
          class="button button--red button--sign"
          @click="ShowModal = true, modalType = 'signRestore'">
          restore
        </button>

      </div>

    </transition>

  </div>
</template>

<script>
  import Toggler from "~/components/toggler";

  export default {
    components: {
      Toggler
    },
    data() {
      return {
        ShowModal: false,
        modalType: {},
        isToggled: false,
        username: '',
        password: '',
        email: ''
      }
    },
  }
</script>
