<template>

  <div class="container--knopki">

    <div class="section">

      <div>
        <h3 class="title">leon.ru <strong class="subtitle">link:</strong></h3>
        <p class="result">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aut, culpa cupiditate expedita facere nihil officiis provident quam quisquam reprehenderit, sequi ullam ut voluptates voluptatibus? Laboriosam possimus repellendus voluptatibus!</p>
      </div>

      <div class="btn-wrapper">
        <button>default</button>
        <button class="blue">.blue</button>
        <button class="green">.green</button>
        <button class="orange">.orange</button>
        <button class="red">.red</button>
      </div>

    </div>

  </div>

</template>

<script>
  export default {
    name: "knopki"
  }
</script>

<style scoped>
  .container--knopki {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  .section {
    width: 100%;
    margin-bottom: 24px;
    padding: 12px;
    font-family: "Courier New", serif;
  }
  .title {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 24px;
    user-select: none;
  }
  .subtitle {
    font-weight: 400;
    border: 1px solid;
    padding: 0 6px;
    color: lightskyblue;
    user-select: none;
  }
  .result {
    width: 100%;
    margin-bottom: 12px;
    min-height: 24px;
    color: orangered;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background-color: #f5f5f5;
    padding: 6px 12px;
    border-radius: 4px;
  }
  .btn-wrapper {
    margin: 0 -6px;
  }
  button {
    display: inline-block;
    padding: 8px 24px;
    margin: 6px;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    user-select: none;
    background-color: #fff;
    border-color: #000;
    transition: .25s;
  }
  button:hover {
    transform: scale(1.05);
    background-color: #000;
    color: #fff;
  }
  .blue {
    color: #3F67CB;
    border-color: #3F67CB;
  }
  .blue:hover {
    background-color: #3F67CB;
  }
  .green {
    color: #008D7C;
    border-color: #008D7C;
  }
  .green:hover {
    background-color: #008D7C;
  }
  .orange {
    color: #F47755;
    border-color: #F47755;
  }
  .orange:hover {
    background-color: #F47755;
  }
  .red {
    color: #E64248;
    border-color: #E64248;
  }
  .red:hover {
    background-color: #E64248;
  }
  @media (min-width: 900px) {
    .section {
      width: 50%;
      display: inline-flex;
      flex-direction: column;
    }
  }
</style>
