<template>
  <div class="container container--pocks">

    <div class="SignHeader">

      <div @click="isToggled = !isToggled, modalShow = false">
        <toggler/>
      </div>

    </div>

    <transition
      name="pocks-fading"
      enter-active-class="bounce-enter-active"
      leave-active-class="bounce-leave-active">

      <div
        class="pocks-wrapper"
        v-show="isToggled">

        <div
          class="pocks-wrapper__item"
          v-for="(item, idx) in items.results"
          :key="idx">

          {{ item.name }}

        </div>

      </div>

    </transition>

  </div>
</template>

<script>
  import Toggler from "~/components/toggler";

  export default {
    components: {
      Toggler
    },
    data() {
      return {
        isToggled: true,
        items: [],
      }
    },
    async asyncData(context) {
      const items = await context.$axios.$get('/pokemon/')
      return {
        items
      }
    },
  }
</script>
