<template>
  <div class="container container--swiper">

    <div class="swiper-container">

      <no-ssr>

        <swiper ref="mySwiper">

          <swiper-slide
            v-for="n in 2"
            :key="n">

            <div class="slide">{{n}}</div>

          </swiper-slide>

        </swiper>

      </no-ssr>

    </div>

  </div>
</template>

<script>
  import 'swiper/dist/css/swiper.css'
  import {swiper, swiperSlide} from 'vue-awesome-swiper'

  export default {
    props: [],
    components: {
      swiper,
      swiperSlide,
    },
    data() {
      return {}
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.swiper
      }
    },
    mounted() {
      // console.log('this is current swiper instance object', this.swiper)
      this.swiper.slideTo(0, 1000, false)
    }
  }
</script>

<style scoped>

  .container--swiper {
    max-width: 1200px;
    margin: auto;
  }

  .swiper-container {
    width: 100%;
    overflow: hidden;
  }

  .slide {
    text-align: center;
    font-size: 100px;
    line-height: 200px;
    background-color: #999;
  }

</style>
