<template>
  <div class="container container--tabs">

    <section class="Tabs">

      <transition-group
        name="tabs-changer"
        enter-active-class="layout-enter"
        leave-active-class="layout-leave">

        <div class="Tabs__content"
             v-for="subtab in tabs"
             :key="subtab.id"
             v-show="subtab.id === type">

          <transition-group
            name="tabs-changer"
            enter-active-class="slide-in"
            leave-active-class="slide-out">

            <div
              class="Tabs__item"
              v-for="(tab, idx) in subtab.subtabs"
              :key="idx"
              v-show="currentTab.tabtype === idx">

              {{tab.text}}

              <div
                v-if="tab.src"
                class="imgwrapper">

                <img
                  :src="tab.src"
                  class="img"
                  :alt="tab.text"
                />

              </div>

            </div>

          </transition-group>

          <div class="Tabs__nav">

            <div class="btn-wrapper">

              <button
                @click="prevTab"> prev
              </button>

              <button
                @click="nextTab"> next
              </button>

            </div>

            <span
              class="Tabs__nav-item"
              v-for="(tab, idx) in subtab.subtabs"
              :key="idx"
              v-html="tab.tabname"
              :class="{'Tabs__nav-item--active': currentTab.tabtype === idx}"
              @click="currentTab.tabtype = idx"
            />

          </div>

        </div>

      </transition-group>

      <h1>sdfs</h1>

    </section>

  </div>
</template>

<script>
  import Toggler from "~/components/toggler";

  export default {
    components: {
      Toggler
    },
    data() {
      return {
        type: 0,
        tabs: [
          {
            id: 0,
            tabtype: 0,
            subtabs: [
              {
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, delectus dolores eaque eligendi esse, eum excepturi praesentium quae quas qui quia quo quos, repellendus repudiandae sit sunt tenetur totam voluptate.',
                src: 'http://kolomna-news.ru/wp-content/uploads/2017/07/6303_39130_99308eab70.jpg'
              },
              {
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dignissimos distinctio, eaque earum harum inventore laborum, molestias, mollitia necessitatibus odit officiis repellendus soluta ut veritatis. Doloremque ex fugit odio?',
                src: 'http://images.kashamalasha.com/201507230019-kashamalasha-com.jpg'
              },
              {
                text: 'Зочем ты жмякнул, я же просил, я не прошу ведь много, это вот единственное было что я просил, а ты взял и жмякнул',
              },
              {
                text: 'Зочем ты жмякнул, я же просил, я не прошу ведь много, это вот единственное было что я просил, а ты взял и жмякнул',
              },
            ],
          },
          {
            id: 1,
            tabtype: 0,
            subtabs: [
              {
                src: 'http://kolomna-news.ru/wp-content/uploads/2017/07/6303_39130_99308eab70.jpg'
              },
              {
                src: 'http://images.kashamalasha.com/201507230019-kashamalasha-com.jpg'
              },
              {
                src: 'https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4156805.jpg'
              },
              {
                src: 'http://kolomna-news.ru/wp-content/uploads/2017/07/6303_39130_99308eab70.jpg'
              },
            ],
          },
          {
            id: 2,
            tabtype: 0,
            subtabs: [
              {
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, delectus dolores eaque eligendi esse, eum excepturi praesentium quae quas qui quia quo quos, repellendus repudiandae sit sunt tenetur totam voluptate.',
              },
              {
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dignissimos distinctio, eaque earum harum inventore laborum, molestias, mollitia necessitatibus odit officiis repellendus soluta ut veritatis. Doloremque ex fugit odio?',
              },
              {
                text: 'Зочем ты жмякнул, я же просил, я не прошу ведь много, это вот единственное было что я просил, а ты взял и жмякнул',
              },
              {
                text: 'Зочем ты жмякнул, я же просил, я не прошу ведь много, это вот единственное было что я просил, а ты взял и жмякнул',
              },
            ],
          },
        ],
      }
    },
    computed: {
      currentTab() {
        return this.tabs.filter(el => el.id)[0]
      },
    },
    methods: {
      prevTab() {
        if (this.currentTab.tabtype > 0) {
          this.currentTab.tabtype -= 1;
        }
        else {

          if (this.type > 0) {
            this.currentTab.tabtype--;
            this.type--;
          }
          else {
            this.type = 0;
            this.currentTab.tabtype = 0;
          }
        }
      },
      nextTab() {
        let countSubTabs = this.currentTab.subtabs.length - 1;
        const countTabs = this.tabs.length - 1;

        if (this.currentTab.tabtype < countSubTabs) {
          this.currentTab.tabtype++;
        }

        else {

          if (this.type < countTabs) {
            this.currentTab.tabtype = 0;
            this.type++;
          }
          else {
            this.type = 0;
            this.currentTab.tabtype = 0;
          }
        }

      },
    },
    mounted() {

      let countSubTabs = this.currentTab.subtabs.length - 1;
      const countTabs = this.tabs.length - 1;
      let interval = 5000;

      setInterval(() => {

        if (this.currentTab.tabtype < countSubTabs) {
          this.currentTab.tabtype++;
        }

        else {

          if (this.type < countTabs) {
            this.currentTab.tabtype = 0;
            this.type++;
          }
          else {
            this.type = 0;
            this.currentTab.tabtype = 0;
          }
        }

      }, interval);


      // const tabs = this.tabs;
      // let type = this.type;
      // let currentTab = this.currentTab;
      //
      // // while (true) {
      // //
      // // }
      // setInterval(()=> {
      //
      // tabs.forEach(function (tab, i) {
      //
      //   console.log(type,'tab');
      //
      //     tab.subtabs.forEach(function (subtab, i) {
      //       console.log(currentTab.tabtype,'tabtype');
      //       currentTab.tabtype++;
      //     });
      //
      //   type++;
      //   currentTab.tabtype = 0;
      // });
      //
      // }, 1000);
    },
  }
</script>

<style scoped>

  .imgwrapper {
    max-width: 50%;
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
  }

  button {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid;
    padding: 6px 12px;
    margin: 0 6px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    transition: 0.5s;
    display: flex;
    flex-grow: 0;
  }

  button:hover {
    background-color: #000;
    border-color: #fff;
    color: #fff;
  }

</style>
